:root{
  --white_text: #fff;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.15;
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

textarea{
  font-family: 'roboto', sans-serif;
}

div{
  display: block;
  unicode-bidi: isolate;
}

a {
  background-color: transparent;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: list-item;
  unicode-bidi: isolate;
}

i{
  vertical-align: middle;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  border-style: none;
  height: auto;
  vertical-align: middle;
}

.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width{
  width: 100%;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
}

.swiper-button-prev, .swiper-button-next{
  background-color: #9C8350;
  border-radius: 50%;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white;
  background-color: black;
}

.section-1 .swiper-button-next::after, .section-1 .swiper-button-prev::after{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.section-1 .swiper-button-next, .section-1 .swiper-button-prev{
  width: 45px;
  height: 45px;
}

.section-2 .swiper-button-next::after, .section-2 .swiper-button-prev::after{
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

.section-2 .swiper-button-next, .section-2 .swiper-button-prev{
  width: 26px;
  height: 26px;
}

.section-3 .swiper-button-next, .section-3 .swiper-button-prev{
  visibility: hidden;
}

.section-4 .swiper-button-prev{
  top: 40%;
  right: 98%;
  width: 30px;
  height: 30px;
}

.section-4 .swiper-button-next{
  top: 40%;
  left: 97%;
  width: 30px;
  height: 30px;
}

.section-4 .swiper-button-next::after, .section-4 .swiper-button-prev::after{
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

